.DS_Store
.dart_tool/
.packages
.pub/
build/
coverage/
.idea/
.vscode/

**/.dart_tool/
**/.packages
**/.pub/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/Generated.xcconfig
**/Pods/
**/Flutter/ephemeral/
